---
import { ClientRouter } from 'astro:transitions';
import Navbar from '../components/NavBar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="img site, use PhotoSwipe inside Astro, with automatic image optimizations."
		/>
		<title>img</title>
		<ClientRouter />
		<!-- Cloudflare Web Analytics -->
		<script
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "e0a2621ac3c9463f97f947554c46ea8d"}'></script>
		<!-- End Cloudflare Web Analytics -->
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
