---
import PhotoSwipe from '../components/PhotoSwipe.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-3xl text-center my-20 font-bold underline">
    Astro + PhotoSwipe
  </h1>
  <PhotoSwipe imageFolder="home" />
</Layout>
