---
import AboutModal from '../components/AboutModal.astro';
import RandomImage from '../components/RandomImage.astro';
import PhotoSwipe from '../components/PhotoSwipe.astro';
import Layout from './_layout.astro'
---

<Layout>
  <AboutModal />
  <RandomImage imageFolder="home" />
  <div class="h-2 dark:bg-gray-200 bg-gray-800 my-2"></div>
  <PhotoSwipe imageFolder="home" />
</Layout>
