---
import ThemeChange from './ThemeChange.astro';
const hrefHome = "/";
const hrefInternet = "/internet/";
const currentPath = Astro.url.pathname;
---

<div class="navbar justify-around">
	<ul class="menu menu-horizontal join">
		<li>
			<a
				href={hrefHome}
				class=`btn glass btn-sm join-item ${currentPath != hrefHome && "btn-outline"}`
				>Home</a
			>
		</li>
		<li>
			<a
				href={hrefInternet}
				class=`btn glass btn-sm join-item ${currentPath != hrefInternet && "btn-outline"}`
				>Internet</a
			>
		</li>
		<li>
			<ThemeChange />
		</li>
	</ul>
</div>
