---
const hrefHome = "/";
const currentPath = Astro.url.pathname;
---

<div class="navbar justify-around">
	<ul class="menu menu-horizontal join">
		<li>
			<a
				href={hrefHome}
				class=`btn btn-primary join-item ${currentPath != hrefHome && "btn-outline"}`
				>Home</a
			>
		</li>
	</ul>
</div>
