---
import Navbar from '../components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="img site, use PhotoSwipe inside Astro, with automatic image optimizations."
		/>
		<title>img</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar />
		<slot />
		<script>
			import { signIn, signOut } from 'auth-astro/client';

			document
				.querySelector('.signin')
				?.addEventListener('click', () => signIn('github'));
			document
				.querySelector('.signout')
				?.addEventListener('click', () => signOut());
		</script>
	</body>
</html>
